# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.log

# Virtual environments
venv/
env/
.venv/

# PyInstaller
build/
dist/
*.spec

# Local config & secrets
.env
*.env
app_config.json

# Large binary / generated folders
fr-uploader/
models/
assets/

# VSCode / IDE
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
